GET 
<h1>my atricle</h1>
<h1>my article title is = <%=@article.title     %> </h1>

<h1>my article text is = <%=@article.text     %> </h1>
<h1>my article id is = <%=@article.id     %> </h1>
<hr>
----------------------------------------------------
<h2>Comments</h2>
  <%= render  @article.comments %>

----------------------------------------------------

<h2>Add a comment:</h2>

<%= form_with(model: [ @article, @article.comments.build ], local: true) do |form| %>
  <p>
    <%= form.label :commenter %><br>
    <%= form.text_field :commenter %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

<h1></h1>
<h1></h1>
<h1></h1>
<h1></h1>
